<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Swim4U | set your goal & swim it</title>
		<meta property="og:title" content="Swim 4U | set your goal & swim it"/>
		<meta property="og:description" content="Ми спортсмени-аматори, подорожуємо по світу, долаючи кілометри біжучи, пливучи та крутячи педалі. "/>
		<meta property="og:image" content="https://shuandr.github.io/Swim4U/og-image-swim.jpg">
		<meta property="og:type" content="website"/>
		<meta property="og:url" content= "https://shuandr.github.io/Swim4U/" />
		
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="assets/css/app.css">
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
	</head>
	<body>
		<div id="preloader">
			<div id="pre-logo"></div>
		</div>
		<div ng-app="sport4U" ng-controller="sportCtrl">
		    <div class="swim-ptrn fixed-bg"></div>
		    <div class="hero">
		        <div class="main-tel">
		        	<a class="white" href="tel://+380636782132"><i class="fa fa-phone-square fa-2x" style="transform: translateY(0.4rem); "></i>  063-678-21-32</a>
		        </div>
		        <div class="social-icons">
		        	<!-- <a href="https://www.facebook.com/Run4Uclub" target="_blank">
		        	<i class="fa fa-facebook-square fa-2x"></i></a> -->
		        	<a href="https://www.facebook.com/SwimForU" target="_blank">
		        	<i class="fa fa-facebook-square fa-2x"></i></a>
		        	<a href="https://www.instagram.com/swim4u_" target="_blank">
		        	<i class="fa fa-instagram fa-2x"></i></a>
		        	
		        </div>        <div class="sport-type">
		            <div class="sport-type-logo text-center">
		                <img src="assets/img/swim-4U_logo.svg" alt="">
		            </div>
		            <img src="assets/img/swim_hero_inner.png" alt="" class="sport-type-hero">
		        </div>
		    </div>
		    <div class="white-bg slogan">
		        <h2 class="text-center swim-1 uppercase ">set your goal & <span class="swim-2 bold">swim</span> it</h2>
		    </div>
		    	<br><h1 class="text-center white uppercase">наші <span class="bold ">переваги</span></h1><br>
		    	<div class="grid-container">
		    		<div class="grid-x  grid-padding-x small-up-1 medium-up-2 large-up-3" data-equalizer  data-equalize-on="medium">
		    			<div class="cell" ng-repeat="adv in advants">
		    				<div class="card white-bg" data-equalizer-watch>
		    					<div class="grid-x">
		    						<div class="cell shrink adv-picto">
		    							<img src="assets/img/{[{adv.ID}]}.svg">
		    						</div>
		    						<div class="cell auto">
		    							<div class="card-section">
		    								<h4 class="text-center swim-1 bold uppercase">{[{adv.title}]}</h4>
		    								<p>{[{adv.body}]}</p>
		    							</div>
		    						</div>
		    					</div>
		    				</div>
		    			</div>
		    		</div>
		    	</div><br><br>
		    <br><br>
		    <div class="section white-bg">
		        <h1 class="text-center swim-1 uppercase">we are <span class="bold swim-2">in action</span></h1><br><br>
		        <div id="owl-carousel-swim" class="owl-carousel owl-theme gallery">
		            <img class="owl-lazy" style="width: auto; " src="assets/img/gallery/swim/01.jpg">
		            <img class="owl-lazy" style="width: auto; " src="assets/img/gallery/swim/02.jpg">
		            <img class="owl-lazy" style="width: auto; " src="assets/img/gallery/swim/03.jpg">
		            <img class="owl-lazy" style="width: auto; " src="assets/img/gallery/swim/04.jpg">
		            <img class="owl-lazy" style="width: auto; " src="assets/img/gallery/swim/05.jpg">
		            <img class="owl-lazy" style="width: auto; " src="assets/img/gallery/swim/06.jpg">
		            <img class="owl-lazy" style="width: auto; " src="assets/img/gallery/swim/07.jpg">
		            <img class="owl-lazy" style="width: auto; " src="assets/img/gallery/swim/08.jpg">
		            <img class="owl-lazy" style="width: auto; " src="assets/img/gallery/swim/09.jpg">
		            <img class="owl-lazy" style="width: auto; " src="assets/img/gallery/swim/10.jpg">
		            <img class="owl-lazy" style="width: auto; " src="assets/img/gallery/swim/11.jpg">
		            <img class="owl-lazy" style="width: auto; " src="assets/img/gallery/swim/12.jpg">
		        </div><br><br>
		    </div>
		        <br>
		        <h1 class="text-center white uppercase">наші <span class="bold">програми</span></h1><br>
		        <div class="grid-x  grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-3" data-equalizer data-equalize-on="medium" data-equalize-by-row="true">
		            <div class="cell " ng-repeat="prog in programs.swim" data-equalizer-watch>
		                <div class="grid-x dark-024-bgrd" style="height: 100%">
		                    <div class="cell">
		                        <br>
		                        <h4 class="text-center white bold uppercase">{[{prog.name}]}</h4>
		                        <img class="" src="assets/img/programs/{[{prog.ID}]}.png" alt="">
		                    </div>
		                    <div class="cell prog-features ">
		                        <h6 class="text-center"><span class="s-bold uppercase">мета: </span>{[{prog.goal}]}</h6>
		                        <div class=" text-center" style="padding: 0.8rem 0">початок: <span class=" s-bold"> {[{prog.start}]}</span> |
		                            заплив: <span class=" s-bold"> {[{prog.final}]}</span>
		                        </div>
		                        <div class="grid-x align-bottom">
		                            <div class="cell small-6 "><span class=" s-bold big">{[{prog.duration}]}</span>
		                            </div>
		                            <div class="cell small-6 text-right"><span class="s-bold bigger">{[{prog.price}]}</span> грн
		                            </div>
		                        </div>
		                    </div>
		                    <div class="cell align-self-bottom accordion" data-accordion data-allow-all-closed="true">
		                        <div class="  accordion-item" data-accordion-item>
		                            <a href="">
		                                <p class="white text-center accordion-title" style="padding: 1.4rem; font-size: 1.4rem;">
		                                    детальніше <i class="fa fa-arrow-circle-down "></i>
		                                </p>
		                            </a>
		                            <div class="accordion-content" style="position: relative; z-index: 100" data-tab-content>
		                                <h5 class="text-center swim-2 uppercase s-bold">В ціну включено:</h5>
		                                <ol>
		                                    <li class="swim-1 include-list" ng-repeat="x in prog.include">{[{ x }]}</li>
		                                </ol>
		                                <h5 class="text-center swim-2 uppercase s-bold">Тренування:</h5>
		                                <p class="big swim-2">Аквапарк «ПЛЯЖ», <span class="s-bold">7:00 | 8:00 | 9:00</span>  ранку <br><span class="s-bold"> ПН | СР | ПТ</span> або <span class="s-bold">ВТ | ЧТ | СБ</span> на вибір</p><br>
		                                <ul>
		                                    <li class="swim-1 include-list" ng-repeat="x in prog.descr">{[{ x }]}</li>
		                                </ul>
		                                <br>
		                                <div class="text-center">
		                                    <h4 class="swim-2 s-bold">безкоштовне пробне тренування</h4>
		                                    <button class="button large white text-center uppercase s-bold swim-bg">
		                                        <a class="white" href="mailto:mykyta.ubyivovk@gmail.com" target="_blank">
		                                            записатись
		                                        </a>
		                                    </button>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <br><br>    <div class="section white-bg ">
		        
		        	<h1 class="text-center swim-1 uppercase">наші <span class="bold swim-2">партнери</span></h1>
		        	<div id="partners" class="owl-carousel owl-theme gallery-logos">
		        		
		        		<img class="owl-lazy" style="width: auto;" src="assets/img/partners/02.svg">
		        		<img class="owl-lazy" style="width: auto;" src="assets/img/partners/01.svg">
		        		<img class="owl-lazy" style="width: auto;" src="assets/img/partners/03.svg">
		        		<img class="owl-lazy" style="width: auto;" src="assets/img/partners/04.svg">
		        		<img class="owl-lazy" style="width: auto;" src="assets/img/partners/05.svg">
		        		<img class="owl-lazy" style="width: auto;" src="assets/img/partners/06.png">
		        		<img class="owl-lazy" style="width: auto;" src="assets/img/partners/07.svg">
		        		<img class="owl-lazy" style="width: auto;" src="assets/img/partners/08.svg">
		        		<img class="owl-lazy" style="width: auto;" src="assets/img/partners/09.svg">
		        	</div><br><br>
		    </div>
		    <div class="grid-container">
		        <div id="feedback-4u">
		            <h1 class="text-center white uppercase">відгуки <span class="bold">учасників</span></h1><br>
		            <!-- <div class="grid-x  grid-padding-x small-up-1 large-up-2" data-equalizer data-equalize-on="large" data-equalize-by-row="true"> -->
		            <div class="grid-x  grid-padding-x small-up-1 large-up-2">
		                <div class="cell" ng-repeat="quote in feedbacks">
		                    <!-- <div class="card white-bg" data-equalizer-watch> -->
		                    <div class="card white-bg">
		                        <div class="grid-x">
		                            <div class="cell medium-shrink text-center">
		                                <img src="assets/img/{[{quote.ID}]}.jpg">
		                            </div>
		                            <div class="cell medium-auto">
		                                <div class="card-section ">
		                                    <div class="read-more" style="overflow: hidden;">
		                                    <h6 class="swim-1 bold uppercase">{[{quote.name}]} <br>
		                                        <span class="occupy swim-2">{[{quote.occupy}]}</span></h6>
		                                        <p>{[{quote.text}]}</p>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    </div><br><br>    <div class="white-bg slogan" style="margin-bottom: 0">
		        <h2 class="text-center swim-1 uppercase ">set your goal & <span class="swim-2 bold">swim</span> it</h2>
		    </div>
		    <div class="run-ptrn ">
		        <div class="grid-container">
		            <div class="grid-x align-middle" style="height: 36vh">
		                <div class="cell medium-8 ">
		                    <a href="run.html">
		                        <h1 class="text-center white bold uppercase">А ще ми бігаємо</h1>
		                    </a>
		                </div>
		                <div class="cell auto">
		                    <a href="run.html">
		                        <div class=" text-center">
		                            <img style="width: 240px; max-width: 64%" src="assets/img/run-4U_logo.svg" alt="">
		                        </div>
		                    </a>
		                </div>
		            </div>
		        </div>
		    </div>
		    <footer class="dark-072-bgrd">
		    	<div class="grid-x  text-center">
		    		<div class="cell ">
		    			<div class="contacts">
		    				<div class="social-icons">
		    					
		    					<a class="swim-2"href="https://www.facebook.com/SwimForU" target="_blank">
		    					<i class="fa fa-facebook-square fa-2x"></i></a>
		    					<a class="sport-2"href="https://www.instagram.com/swim4u_" target="_blank">
		    					<i class="fa fa-instagram fa-2x"></i></a>
		    					<a class="white" href="tel://+380636782132"> 063-678-21-32</a> 
		    				</div>
		    			</div>
		    		</div>
		    		<div class="cell  ">
		    			
		    			
		    		</div>
		    		
		    	</div>
		    			<p class="text-center">© Всі права застережено. 2020</p><br>
		    	
		    </footer></div>
		
		<script src="assets/js/app.js"></script>
		<!-- <script src="assets/js_plugins/fullpage.min.js"></script> -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
		<script src="assets/js_plugins/myAngular.js"></script>
		<script src="assets/js_plugins/owl.carousel.min.js"></script>
		<script src="assets/js_plugins/readmore.min.js"></script>
	</body>
</html>